In [4]:
#import libraries
import pandas as pd
import numpy as nd
import os

In [7]:
path = r'/Users/emilypickett/Documents/Medical Cost '

In [8]:
#import data
df = pd.read_csv(os.path.join(path, 'Data', 'Original Data', 'insurance.csv'), index_col = False)

In [9]:
df.shape

(1338, 7)

In [10]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

### Changing data Type

In [11]:
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

### Mixed Data type

In [12]:
#checking for mixed data
for col in df.columns.tolist():
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df[weird]) > 0:
    print (col)

/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)
/var/folders/zk/lxc3sp7n5rqf4k_sl172k5xh0000gn/T/ipykernel_63241/898214100.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df[[col]].applymap(type) != df[[col]].iloc[0].apply(type)).any(axis = 1)

No mixed data types

### Missing Data

In [13]:
#counting missing data
df.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

No missing Data

### Duplicates

In [14]:
#finding for full duplicates
df_dups = df[df.duplicated()]

In [15]:
df_dups

     age   sex    bmi  children smoker     region    charges
581   19  male  30.59         0     no  northwest  1639.5631

In [16]:
#create new dataframe with no duplicates
df_clean = df.drop_duplicates()

In [17]:
df_clean.shape

(1337, 7)

In [18]:
#export data
df_clean.to_csv(os.path.join(path,'Data','Prepared Data','insurance_clean.csv'))